.pathway {
  display: none;
}

body {
  background-color: #fff;
  margin: 0 auto;
  font-family: 'Open Sans', Helvetica;
  color: #222f39;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

html, body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ededed;
}

section {
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}


*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

#ccm-search_menu {
  background-color: #232F39;
  height: 8%;
  margin-bottom: 0;
}

nav {
  background-color: #232F39;
  height: 8%;
}

#ccm-drop_cluster_group {
  border: 2px dashed #ededed;
  color: #ededed;
  font-weight: bolder;
  font-size: 12px;
  line-height: 12px;
  height: 90%;
}

.ccm-host_list_wrapper {
  color: #ededed;
  height: 100%;
  width: 20%;
  min-width: 20%;
  float: left;
  position: fixed;
  background-color: #3e5466;
}

.ccm-host {
  font-size: 12px;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #ededed;
  vertical-align: middle;
}

#top_overlay {
  height: 44px;
  width: 100%;
  text-align: center;
  display: table;
  z-index: 2;
}

#top_overlay > i {
  display: table-cell;
  vertical-align: middle;
}

#bottom_overlay {
  width: 100%;
  height: 40px;
  text-align: center;
  display: table;
}

#bottom_overlay > i {
  display: table-cell;
  vertical-align: middle;
}

#ccm-host_list {
  cursor: pointer;
  overflow: auto;
  height: 100%;
}

#ccm-host_list::-webkit-scrollbar {
  display: none;
}

@-moz-document url-prefix() {
  #ccm-host_list {
    scrollbar-width: none;
  }
}

.card {
  border-radius: 10px;
  /* background-image: -moz-linear-gradient( 143deg, rgb(224,199,193) 0%, rgb(237,237,237) 100%);
  background-image: -webkit-linear-gradient( 143deg, rgb(224,199,193) 0%, rgb(237,237,237) 100%);
  background-image: -ms-linear-gradient( 143deg, rgb(224,199,193) 0%, rgb(237,237,237) 100%); */
  box-shadow: 0px 3px 7px 0px rgba(1, 2, 1, 0.49);
  background-color: #009fdf;
}

.ccm-drop_only_area {
  height: 80px;
  border: 8px dashed #ededed;
  color: #ededed;
  font-weight: bolder;
  /* text-align: center; */
}

.ccm-parent {
  float: right;
  width: 80%;
}
/* .ccm-drop_only_area > p {
  display: inline;
  text-align: center;
} */

/* .ccm-flexbox_wrap {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .ccm-flexbox_card {
    flex: 25%;
  }
}

@media (max-width: 1200px) {
  .ccm-flexbox_card {
    flex: 50%;
  }
}

@media (max-width: 992px) {
  .ccm-flexbox_card {
    flex: 50%;
  }
}

@media (max-width: 600px) {
  .ccm-flexbox_card {
    flex: 100%;
  }
} */


.ccm-host_name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.ccm-icon_wrapper {
  line-height: 40px;
  height: 40px;
}

.ccm-info_icon {
  vertical-align: middle;
  text-align: right;
}


li > .gu-transit {
  display: none;
}



#ccm-drop_cluster_group > .gu-transit {
  display: none;
}

.ccm-drop_only_area > .gu-transit {
  display: none;
}


.selectedItem {
  background-color: blue;
}

#ccm-cluster_group_wrapper {
  padding: 0;
  float: right;
}
