/* ==========================================================================
   Prepare iframe
   ========================================================================== */

.pathway {
  display: none;
}

body {
  height: 100%;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

html, body {
  background-color: #E8E9F9;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

section {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
}

/* ==========================================================================
   Navigation bar configuration
   ========================================================================== */

.navbar-fixed {
  background-color: #232F39;
  height: 8%;
  margin-bottom: 0;
}

nav {
  background-color: #232F39;
  height: 8%;
}

.ccm-drop_cluster_group {
  border: 2px dashed #EDEDED;
  color: #EDEDED;
  font-size: 12px;
  font-weight: bolder;
  height: 90%;
  line-height: 100%;
  text-align: center;
}

/* ==========================================================================
   Host list sidebar
   ========================================================================== */

.ccm-host_list_wrapper {
  background-color: #2794FF;
  color: #EDEDED;
  float: left;
  height: 100%;
  min-width: 20%;
  position: fixed;
  width: 20%;
}

.ccm-host {
  border-bottom: 1px solid #EDEDED;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}

.top-overlay {
  display: table;
  height: 44px;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.top-overlay > i {
  display: table-cell;
  vertical-align: middle;
}

.bottom-overlay {
  display: table;
  height: 40px;
  text-align: center;
  width: 100%;
}

.bottom-overlay > i {
  display: table-cell;
  vertical-align: middle;
}

.ccm-host_list {
  cursor: pointer;
  height: 100%;
  overflow: auto;
}

.ccm-host_list::-webkit-scrollbar {
  display: none;
}

/* Remove scroll bar when using firefox */
@-moz-document url-prefix() {
  .ccm-host_list {
    scrollbar-width: none;
  }
}

/* ==========================================================================
   Cluster group designs
   ========================================================================== */

.card {
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 3px 7px 0 rgba(1, 2, 1, 0.49);
  padding: 0 !important;
}

.card .card-content {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0;
}

.card-title {
  background-color:  #2794FF;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: #EDEDED;
  height: 50px;
  vertical-align: middle;
}

.title-text {
  font-size: 24px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cluster-group-settings {
  height: 50px;
}

/* ==========================================================================
   Cluster group collapsible headers
   ========================================================================== */
.collapsible {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.card-content > .collapsible {
  border-left: 1px solid #EDEDED;
  border-right: 1px solid #EDEDED;
  border-top: 1px solid #EDEDED;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.collapsible-header {
  color: #232F39;
  padding-right: 5px;
}

.cluster-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bubbles {
  border-radius: 8px;
  text-align: center;
  padding: 0 !important
}

.warning-bubble {
  background-color: #FFE893;
  margin-right: 3px !important;
}

.critical-bubble {
  background-color: #FFAFAF;
}

/* ==========================================================================
   Cluster group collapsible body
   ========================================================================== */

.collapsible-body {
  background-color: #E1F4FE;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}

.tr-cluster {
  border-bottom: 0 solid rgba(0, 0, 0, 0);
  color: #2794FF;
}

.ccm-drop_only_area {
  border: 1px dashed #2794FF;
  color: #2794FF;
  font-weight: bolder;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}

.ccm-parent {
  float: right;
  width: 80%;
}

.ccm-host_name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.ccm-icon_wrapper {
  line-height: 40px;
  height: 40px;
}

.ccm-info_icon {
  vertical-align: middle;
  text-align: right;
}


li > .gu-transit {
  display: none;
}



#ccm-drop_cluster_group > .gu-transit {
  display: none;
}

.ccm-drop_only_area > .gu-transit {
  display: none;
}


.selectedItem {
  background-color: blue;
}

#ccm-cluster_group_wrapper {
  padding: 0;
  float: right;
}
