body {
  background-color: #fff;
  margin: 0 auto;
  font-family: 'Open Sans', Helvetica;
  color: #222f39;
  max-width: 100%;
}

html, body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

#ccm-host_list {
  cursor: pointer;
}

.ccm-flexbox_wrap {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .ccm-flexbox_card {
    flex: 25%;
  }
}

@media (max-width: 1200px) {
  .ccm-flexbox_card {
    flex: 50%;
  }
}

@media (max-width: 992px) {
  .ccm-flexbox_card {
    flex: 50%;
  }
}

@media (max-width: 600px) {
  .ccm-flexbox_card {
    flex: 100%;
  }
}

.ccm-host {
  font-size: 12px;
  line-height: 40px;
  height: 40px;
  border: 1px solid #ededed;
  vertical-align: middle;
}

.ccm-host_name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.ccm-icon_wrapper {
  line-height: 40px;
  height: 40px;
}

.ccm-info_icon {
  vertical-align: middle;
  text-align: right;
}

.ccm-drop_cluster_group {
  height: 320px;
  border: 8px dashed #ededed;
  color: #ededed;
  font-weight: bolder;
  font-size: 30px;
}

li > .gu-transit {
  display: none;
}
#ccm-drop_cluster_group > .gu-transit {
  display: none;
}


.selectedItem {
  background-color: blue;
}
